@font-face {
    font-family: "newFont";
    src: url(fonts/Magnific\ Chaos\ Personal\ Use.ttf);
}

body{
    --s: 150px; /* control the size*/
    --c1: #68584f;
    --c2: #fcf6e6;
    
    background:
      linear-gradient(135deg,#0000 18.75%,var(--c1) 0 31.25%,#0000 0),
      repeating-linear-gradient(45deg,var(--c1) -6.25% 6.25%,var(--c2) 0 18.75%);
    background-size: var(--s) var(--s);     
}

h2 {
    font-family: 'newFont';
}

.container {
    display: flex;
    height: 98vh; /* A altura da tela inteira */
    }

.div1, .div2, .div3 {
    flex: 1; /* Cada div ocupa uma parte igual */
    padding: 10px;
    box-sizing: border-box;
    }

        /* Diferenciando as divs com cores */
.div1 {
    background-color: #fcf6e6; /* Amarelo */
    border:solid 15px #68584f;
    display: inline;
    }

    .subMenu1 {
        background-color: #68584f; /* Cor diferente para o submenu (exemplo: Tomate) */
        padding: 10px;
        box-sizing: border-box;
        color: #fcf6e6;
        border-radius: 5px; /* Para adicionar bordas arredondadas, opcional */
    }
    
    /* Estilo dos links do submenu */
    .subMenu1 button {
        color: #fcf6e6;
        background-color: #333;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        display: inline;
        text-align: left;
    }

.prfImg {
    height: 400px;
    width: 300px; 
}


.div2 {
    background-color: #fcf6e6; /* Azul */
    border:15px solid #68584f;
    }

    .subMenu2 {
        background-color: #68584f; /* Cor diferente para o submenu (exemplo: Tomate) */
        padding: 10px;
        box-sizing: border-box;
        color: #fcf6e6;
        border-radius: 5px; /* Para adicionar bordas arredondadas, opcional */
    }
    
    /* Estilo dos links do submenu */
    .subMenu2 button {
        color: #fcf6e6;
        background-color: #333;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        display: inline;
        text-align: left;
    }

    img {
        height: 700px;
        width: 570px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    table td, table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    table tr:nth-child(even){
        background-color: #fcf6e6;
    }

    table th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #333;
        color: #fcf6e6;
    }

.div3 {
    background-color: #fcf6e6; /* Verde */
    border:solid 15px #68584f;
    }

